		<!-- banner -->
		<div class="banner_w3lspvt position-relative">
			<div class="container">
				<div class="d-md-flex">
					<div class="w3ls_banner_txt">
						<h3 class="w3ls_pvt-title">Bem vindo ao <br><span>site da RMB</span></h3>
						<p class="text-sty-banner">Atuamos no mercado de Tecnologia da Informação (TI) desde 2003, com sede em Natal - RN, prestamos serviços relacionados a redes de computadores, hospedagem na internet, desenvolvimento de software, segurança da informação e comercialização produtos de informática.</p>
						<a href="#whyus" class="btn button-style mt-md-5 mt-4">Por que nos escolher?</a>
					</div>
					<div class="banner-img">
						<img src="images/banner.png" alt="" class="img-fluid">
					</div>
				</div>
			</div>
			<!-- animations effects -->
			<div class="icon-effects-w3l">
				<img src="images/shape1.png" alt="" class="img-fluid shape-wthree shape-w3-one">
				<img src="images/shape2.png" alt="" class="img-fluid shape-wthree shape-w3-two">
				<img src="images/shape3.png" alt="" class="img-fluid shape-wthree shape-w3-three">
				<img src="images/shape5.png" alt="" class="img-fluid shape-wthree shape-w3-four">
				<img src="images/shape4.png" alt="" class="img-fluid shape-wthree shape-w3-five">
				<img src="images/shape6.png" alt="" class="img-fluid shape-wthree shape-w3-six">
			</div>
			<!-- //animations effects -->
		</div>
		<!-- //banner -->
	</div>
	<!-- //main banner -->