	<!-- services -->
	<section class="banner-bottom-w3layouts bg-li py-5" id="services">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="tittle text-center font-weight-bold">Nossos Serviços</h3>
			<p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">Conheça o portifólio de serviços ofertados por nossa empresa.</p>
			<div class="row pt-lg-4">
				<div class="col-lg-4 about-in text-center">
					<div class="card">
						<div class="card-body">
							<div class="bg-clr-w3l">
								<span class="fas fa-globe"></span>
							</div>
							<h5 class="card-title mt-4 mb-3">Hospedagem de sites e email</h5>
							<p class="card-text">Hospedagem de sites, e-mails e registro de domínios. Oferecemos soluções que garantem velocidade, disponibilidade e segurança para sua vitrine virtual.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 about-in text-center my-lg-0 my-3">
					<div class="card active">
						<div class="card-body">
							<div class="bg-clr-w3l">
								<span class="fa fa-user-secret"></span>
							</div>
							<h5 class="card-title mt-4 mb-3">Segurança da Informação</h5>
							<p class="card-text">Consultoria e implementação de políticas de segurança da informação garantindo proteção ao ativo mais importante da sua empresa: seus dados.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 about-in text-center">
					<div class="card">
						<div class="card-body">
							<div class="bg-clr-w3l">
								<span class="fa fa-ambulance"></span>
							</div>
							<h5 class="card-title mt-4 mb-3">Suporte técnico remoto e presencial</h5>
							<p class="card-text">Trabalhamos com suporte técnico corporativo de excelência para software e hardware, assim sua empresa pode dedicar-se ao negócio sem interrupções de TI.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row pt-lg-4">
					<div class="col-lg-4 about-in text-center">
						<div class="card">
							<div class="card-body">
								<div class="bg-clr-w3l">
									<span class="fa fa-cloud"></span>
								</div>
								<h5 class="card-title mt-4 mb-3">Cloud Computing</h5>
								<p class="card-text">Soluções baseadas em cloud computing permitindo redução de custos de infraestrutura local e alta disponibilidade, ideal para necessidades de trabalho remoto, converse com nossos especialistas.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 about-in text-center my-lg-0 my-3">
						<div class="card active">
							<div class="card-body">
								<div class="bg-clr-w3l">
									<span class="fa fa-server"></span>
								</div>
								<h5 class="card-title mt-4 mb-3">Gerenciamento de infraestrutura</h5>
								<p class="card-text">Consultoria, serviços e fornecimento de equipamentos para adequar a sua infraestrutura de redes de computadores às necessidades do seu negócio.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 about-in text-center">
						<div class="card">
							<div class="card-body">
								<div class="bg-clr-w3l">
									<span class="fa fa-lightbulb-o"></span>
								</div>
								<h5 class="card-title mt-4 mb-3">Consultoria em TI</h5>
								<p class="card-text">Tem alguma necessidade de Tecnologia da Informação e não sabe por onde começar? Dúvidas sobre equipamentos e tecnologias mais adequadas para obter os melhores resultados? Conte conosco!</p>
							</div>
						</div>
					</div>
				</div>
		</div>
	</section>
	
	<!-- //services -->