	<!-- services -->
	<section class="banner-bottom-w3layouts bg-li py-5" id="services">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="tittle text-center font-weight-bold">Nossos Serviços</h3>
			<p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">Sed do eiusmod tempor incididunt ut labore et dolore magna
				aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
			<div class="row pt-lg-4">
				<div class="col-lg-4 about-in text-center">
					<div class="card">
						<div class="card-body">
							<div class="bg-clr-w3l">
								<span class="fas fa-globe"></span>
							</div>
							<h5 class="card-title mt-4 mb-3">Hospedagem internet</h5>
							<p class="card-text">Hospedagem de sites e e-mails, velocidade e disponibilidade para sua empresa na internet.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 about-in text-center my-lg-0 my-3">
					<div class="card active">
						<div class="card-body">
							<div class="bg-clr-w3l">
								<span class="fa fa-usd"></span>
							</div>
							<h5 class="card-title mt-4 mb-3">Financial Planning</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 about-in text-center">
					<div class="card">
						<div class="card-body">
							<div class="bg-clr-w3l">
								<span class="fa fa-lightbulb-o"></span>
							</div>
							<h5 class="card-title mt-4 mb-3">Business Services</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row pt-lg-4">
					<div class="col-lg-4 about-in text-center">
						<div class="card">
							<div class="card-body">
								<div class="bg-clr-w3l">
									<span class="fa fa-line-chart"></span>
								</div>
								<h5 class="card-title mt-4 mb-3">Business Growth</h5>
								<p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 about-in text-center my-lg-0 my-3">
						<div class="card active">
							<div class="card-body">
								<div class="bg-clr-w3l">
									<span class="fa fa-usd"></span>
								</div>
								<h5 class="card-title mt-4 mb-3">Financial Planning</h5>
								<p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 about-in text-center">
						<div class="card">
							<div class="card-body">
								<div class="bg-clr-w3l">
									<span class="fa fa-lightbulb-o"></span>
								</div>
								<h5 class="card-title mt-4 mb-3">Business Services</h5>
								<p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
							</div>
						</div>
					</div>
				</div>
		</div>
	</section>
	
	<!-- //services -->