	<!-- Featured -->
		<div id="featured">
			<div class="container">
				<div class="row">
					<section class="4u">
						<div class="box">
							<a href="#" class="image left"><img src="images/services.png" alt=""></a>
							<h3>SERVI&Ccedil;OS</h3>
							<p>Conhe&ccedil;a os servi&ccedil;os prestados por nossa empresa.</p>
							<a href="#" class="button">SERVI&Ccedil;OS</a>
						</div>
					</section>
					<section class="4u">
						<div class="box">
							<a href="#" class="image left"><img src="images/produtos.png" alt=""></a>
							<h3>PRODUTOS</h3>
							<p>Visite nosso cat&aacute;logo de produtos de TI e solicite seu or&ccedil;amento.</p>
							<a href="#" class="button">PRODUTOS</a>
						</div>
					</section>
					<section class="4u">
						<div class="box">
							<a href="#" class="image left"><img src="images/treinamento.png" alt=""></a>
							<h3>TREINAMENTOS</h3>
							<p>Em breve estaremos dispobilizando treinamentos de TI.</p>
							<a href="#" class="button">EM BREVE</a>
						</div>
					</section>
				</div>
				<div class="divider"></div>
			</div>
		</div>
	<!-- /Featured -->