	<!-- what we do section -->
	<div class="what bg-li py-5" id="what">
		<div class="container py-xl-5 py-lg-3">
			<div class="row about-bottom-w3l text-center mt-4">
				<div class="col-lg-4 about-grid">
					<div class="about-grid-main">
						<img src="/images/services.png" alt="" class="img-fluid">
						<h4 class="my-4">Serviços</h4>
						<p>Administração de redes, hospedagem cloud, gerenciamento de servidores, desenvolvimento de software, conheça todos os serviços ofertados por nossa empresa.</p>
						<a href="/servicos/" class="button-w3ls btn mt-sm-5 mt-4">Nossos serviços</a>
					</div>
				</div>
				<div class="col-lg-4 about-grid my-lg-0 my-5">
					<div class="about-grid-main">
						<img src="/images/produtos.png" alt="" class="img-fluid">
						<h4 class="my-4">Produtos</h4>
						<p>Servidores, Equipamentos de infraestrutura de redes, Computadores desktop, Componentes de Informática, Licenças Microsoft, Antivírus veja nosso catálogo de produtos.</p>
						<a href="/produtos/" class="button-w3ls btn mt-sm-5 mt-4">Catálogo de produtos</a>
					</div>
				</div>
				<div class="col-lg-4 about-grid">
					<div class="about-grid-main">
						<img src="/images/treinamento.png" alt="" class="img-fluid">
						<h4 class="my-4">Treinamento</h4>
						<p>Em breve estaremos disponibilizando treinamentos em Tecnologia da Informação, inscreva-se em nossa lista de espera e receba informações em primeira mão.</p>
						<a href="#inscrever" class="button-w3ls btn mt-sm-5 mt-4">Inscrever-se</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //what we do section -->