	<!-- Footer -->
  <div id="footer">
			<div class="container">
				<div class="row">
					<div class="3u">
						<section>
							<h2>Maecenas lectus</h2>
							<div class="balloon">
								<blockquote>&ldquo;&nbsp;&nbsp;Donec leo, vivamus ullamcorper fermentum nibh in augue pulvinar ullamcorper metus praesent a lacus at urna congue ullamcorper  rutrum.&nbsp;&nbsp;&rdquo;<br>
									<br>
									<strong>&ndash;&nbsp;&nbsp;John Smith</strong></blockquote>
							</div>
							<div class="ballon-bgbtm">&nbsp;</div>
						</section>
					</div>
					<div class="3u">
						<section>
							<h2>Donec dictum</h2>
							<ul class="default">
								<li>
									<h3>Mauris vulputate dolor sit amet</h3>
									<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
								</li>
								<li>
									<h3>Fusce ultrices fringilla metus</h3>
									<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
								</li>
								<li>
									<h3>Donec dictum metus in sapien</h3>
									<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
								</li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<section>
							<h2>FERRAMENTAS</h2>
							<p>Conhe&ccedil;a as ferramentas que n&oacute;s recomendamos:</p>
							<ul class="style5">
								<li><a href="#"><img src="images/pics07.jpg" alt=""></a></li>
								<li><a href="#"><img src="images/pics08.jpg" alt=""></a></li>
								<li><a href="#"><img src="images/pics09.jpg" alt=""></a></li>
								<li><a href="#"><img src="images/pics10.jpg" alt=""></a></li>
								<li><a href="#"><img src="images/pics11.jpg" alt=""></a></li>
								<li><a href="#"><img src="images/pics12.jpg" alt=""></a></li>
								<a href="https://get.teamviewer.com"><i class="fas fa-arrows-alt-h fa-3x" title="Acesso remoto teamviewer"></i></a>
								<a href="https://desktop.telegram.org/"><i class="fab fa-telegram fa-3x" title="Chat online via telegram"></i></a>
								<a href="http://dropbox.rmbinformatica.net"><i class="fab fa-dropbox fa-3x" title="Dropbox para armazenar seus arquivos"></i></a>
								<i class="fas fa-cloud-upload-alt fa-3x" title="Envie-nos arquivos"></i>
							</ul>
							<a href="#" class="button">More Collections</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<h2>Fale conosco</h2>
							<p>Entre em contato conosco via: </p>
							<p><a href="http://tg.rmbinformatica.net"><i class="fab fa-telegram fa-3x"></i></a> <a href="http://tw.rmbinformatica.net"><i class="fab fa-twitter fa-3x"></i></a> <a href="http://fb.rmbinformatica.net"><i class="fab fa-facebook fa-3x"></i></a> <a href="http://wa.rmbinformatica.net"><i class="fab fa-whatsapp fa-3x"></i></a></p>
							<h2>Localiza&ccedil;&atilde;o</h2>
							<p><strong>Atendemos em sua empresa, agende uma visita!</strong></p>
							<p>Nosso escrit&oacute;rio est&aacute; localizado em:</p>
							<p>Rua Luiz Fernandes, 790 - Quintas<br>59035-070 Natal - RN</p>
							<a href="https://goo.gl/maps/N5xSKLmt1ux" class="button">Ver no google maps</a>
						</section>
					</div>
				</div>
			</div>
		</div>
	<!-- /Footer -->

	<!-- Copyright -->
		<div id="copyright" class="container">
			&copy; 2019 <a href="http://www.rmbinformatica.com">RMB Inform&aacute;tica</a> - CNPJ: 05.930.393/0001-56 | Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
		</div>