
		<!-- copyright bottom -->
		<div class="copy-bottom bg-li py-4 border-top">
			<div class="container-fluid">
				<div class="d-md-flex px-md-3 position-relative text-center">
					<!-- footer social icons -->
					<div class="social-icons-footer mb-md-0 mb-3">
						<ul class="list-unstyled">
							<li>
								<a href="http://fb.rmbinformatica.net">
									<span class="fab fa-facebook"></span>
								</a>
							</li>
							<li>
								<a href="http://tw.rmbinformatica.net">
									<span class="fab fa-twitter"></span>
								</a>
							</li>
							<li>
								<a href="http://tg.rmbinformatica.net">
									<span class="fab fa-telegram"></span>
								</a>
							</li>
							<li>
								<a href="https://github.com/rmbinformatica">
									<span class="fab fa-github"></span>
								</a>
							</li>
							<li>
								<a href="http://dropbox.rmbinformatica.net">
									<span class="fab fa-dropbox"></span>
								</a>
							</li>
							<li>
								<a href="http://wa.rmbinformatica.net">
									<span class="fab fa-whatsapp"></span>
								</a>
							</li>
							<li>
								<a href="https://doc.rmbinformatica.com.br/ajuda/">
									<span class="fas fa-book-reader"></span>
								</a>
							</li>
						</ul>
					</div>
					<!-- //footer social icons -->
					<!-- copyright -->
					<div class="copy_right mx-md-auto mb-md-0 mb-3">
						<p class="text-bl let">&copy; 2019 <a href="http://www.rmbinformatica.com">RMB Inform&aacute;tica</a> - CNPJ: 05.930.393/0001-56 | Design by
							<a href="http://w3layouts.com/" target="_blank">W3layouts</a> | Images <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
						</p>
					</div>
					<!-- //copyright -->
					<!-- move top icon -->
					<a href="#home" class="move-top text-center">
						<span class="fa fa-level-up" aria-hidden="true"></span>
					</a>
					<!-- //move top icon -->
				</div>
			</div>
		</div>
		<!-- //copyright bottom -->
{%- include sonetel.html -%}