			<!-- Extra -->
			<div id="marketing" class="container">
				<div class="row">
					<div class="3u">
						<section>
							<header>
								<h2>E-mail profissional</h2>
							</header>
							<p class="subtitle">Torne seu negócio profissional com e-mail personalizado do seu domínio, contas de e-mail com 5GB de espaço pelo melhor preço do mercado.</p>
							<p><a href="/servicos/email-profissional.html"><img src="/images/email-banner.jpg" alt=""></a></p>
							<a href="/servicos/email-profissional.html" class="button">Saiba Mais</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<header>
								<h2>Parceria Cloudflare</h2>
							</header>
							<p class="subtitle">RMB Informática inicia parceria com a CloudFlare para tornar seu site mais rápido, mais seguro e tornar a experiência de navegação mais confiável.</p>
							<p><a href="/servicos/cloudflare.html"><img src="/images/cloudflare-banner.jpg" alt=""></a></p>
							<a href="/servicos/cloudflare.html" class="button">Saiba Mais</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<header>
								<h2>Suporte Remoto</h2>
							</header>
							<p class="subtitle">Oferecemos suporte técnico on-line, através acesso remoto via internet. Atendimento rápido e solução confiável para o seu problema.</p>
							<p><a href="/servicos/suporte-remoto.html"><img src="/images/helpdesk-banner.jpg" alt=""></a></p>
							<a href="/servicos/suporte-remoto.html" class="button">Saiba Mais</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<header>
								<h2>Licenças de Software</h2>
							</header>
							<p class="subtitle">Adquira agora licenças de software para seu computador, use somente softwares originais. Envio de licença por e-mail e software por download.</p>
							<p><a href="/servicos/licenciamento.html"><img src="/images/licenciamento-banner.jpg" alt=""></a></p>
							<a href="/servicos/licenciamento.html" class="button">Saiba Mais</a>
						</section>
					</div>
				</div>
			</div>
			<!-- /Extra -->