	<!-- middle -->
	<a id="whyus"></a>
	<section class="midd-w3 py-5" id="faq">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-6 about-right-faq">
					<h6>Por que nos contratar?</h6>
					<h3 class="text-da">19 Anos de expertise em TI</h3>
					<p class="mt-4">Em 2022 estamos completando 19 anos de fundação, sempre atuando no mercado de tecnologia, nós podemos ajudar sua empresa a crescer oferecendo outsourcing de serviços, assim você poderá se dedicar ao seu negócio livre de preocupações.</p>
					<ul class="w3l-right-book mt-4">
						<li>Hospedagem de sites e e-mails na internet</li>
						<li>Segurança da informação</li>
						<li>Gerenciamento de Servidores</li>
						<li>Administração de Redes</li>
						<li>Suporte Técnico</li>
					</ul>
					<a href="#services" class="btn button-style button-style-2 mt-sm-5 mt-4">Saiba mais</a>
				</div>
				<div class="col-lg-6 left-wthree-img text-right">
					<img src="images/b1.png" alt="" class="img-fluid mt-5" />
				</div>
			</div>
		</div>
	</section>
	<!-- //middle -->