	<!-- partners -->
	<section class="partners py-5" id="partners">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="tittle text-center font-weight-bold">Soluções adequadas às necessidades do seu negócio</h3>
			<p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">Trabalhamos com diversas tecnologias a fim de oferecer sempre a melhor solução para suas necessidades, conheça algumas das tecnologias que temos expertise e com as quais podemos alcançar os resultados desejados pela sua empresa.</p>
			<div class="row grid-part text-center pt-4">
				<div class="col-md-2 col-4">
					<div class="parts-w3ls">
						<span class="fab fa-aws"></span>
						<h4>Amazon Web Services</h4>
					</div>
				</div>
				<div class="col-md-2 col-4">
					<div class="parts-w3ls">
						<span class="fab fa-linux"></span>
						<h4>Linux</h4>
					</div>
				</div>
				<div class="col-md-2 col-4">
					<div class="parts-w3ls">
						<span class="fab fa-cpanel"></span>
						<h4>cPanel</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fab fa-windows"></span></a>
						<h4>Microsoft</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fab fa-apple"></span></a>
						<h4>Apple</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fab fa-raspberry-pi"></span></a>
						<h4>Raspberry</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="https://db.tt/P5toR86EQi"><span class="fab fa-dropbox"></span></a>
						<h4>Dropbox</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fab fa-evernote"></span></a>
						<h4>Evernote</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="http://php.net"><span class="fab fa-php"></span></a>
						<h4>PHP</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fab fa-digital-ocean"></span></a>
						<h4>Digital Ocean</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fab fa-docker"></span></a>
						<h4>Docker</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fab fa-github"></span></a>
						<h4>GitHub</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fab fa-bitbucket"></span></a>
						<h4>BitBucket</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fab fa-google"></span></a>
						<h4>G Suites</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fab fa-html5"></span></a>
						<h4>HTML 5</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fab fa-js"></span></a>
						<h4>JavaScript</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fab fa-markdown"></span></a>
						<h4>MarkDown</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fab fa-python"></span></a>
						<h4>python</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //partners -->