	<!-- stats -->
	<section class="bottom-count py-5" id="stats">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-5 left-img-w3ls">
					<img src="images/b2.png" alt="" class="img-fluid" />
				</div>
				<div class="col-lg-7 right-img-w3ls pl-lg-4 mt-lg-2 mt-4">
					<div class="bott-w3ls mr-xl-5">
						<h3 class="title-w3 text-bl mb-3 font-weight-bold">Some of Company Real Facts</h3>
						<p class="title-sub-2 mb-3">Excepteur sint occaecat cupidatat <br>non proident.</p>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
							laudantium. </p>
					</div>
					<div class="row mt-5">
						<div class="col-sm-4 count-w3ls">
							<h4>1000+</h4>
							<p>Project completed</p>
						</div>
						<div class="col-sm-4 count-w3ls mt-sm-0 mt-3">
							<h4>480+</h4>
							<p>Consultant</p>
						</div>
						<div class="col-sm-4 count-w3ls mt-sm-0 mt-3">
							<h4>600+</h4>
							<p>Award Winning</p>
						</div>
					</div>
					<div class="row mt-sm-5 mt-4">
						<div class="col-sm-4 count-w3ls">
							<h4>480+</h4>
							<p>Consultant</p>
						</div>
						<div class="col-sm-4 count-w3ls mt-sm-0 mt-3">
							<h4>600+</h4>
							<p>Award Winning</p>
						</div>
						<div class="col-sm-4 count-w3ls mt-sm-0 mt-3">
							<h4>1000+</h4>
							<p>Project completed</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //stats -->