   <!-- footer -->
   
	<footer class="bg-li py-5">
			<div class="container py-xl-5 py-lg-3">
				<!-- subscribe -->
				<div class="subscribe mx-auto">
					<div class="icon-effect-w3">
						<span class="fa fa-envelope"></span>
					</div>
					<a id="inscrever"><h2 class="tittle text-center font-weight-bold">Receba novidades</h2></a>
					<p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">Participe do nosso mailing e receba novidades da nossa empresa sobre o lançamento de novos produtos e serviços.</p>
					<form action="https://docs.google.com/forms/d/e/1FAIpQLScRp4EuYylP2-eqI4peAVOCgh3w2pob_dcCKkKYnuv-6meeKQ/formResponse?embedded=true" method="post" class="subscribe-wthree pt-2" target="blank">
						<div class="d-flex subscribe-wthree-field">
							<input class="form-control" type="email" placeholder="Informe seu email..." name="entry.545910423" required="">
							<button class="btn form-control w-50" type="submit">Inscrever-se</button>
						</div>
					</form>
				</div>
				<!-- //subscribe -->
			</div>
		</footer>
		<!-- //footer -->