	<!-- team -->
	<section class="team bg-li py-5" id="team">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="tittle text-center font-weight-bold">Our Awesome Team</h3>
			<p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">Sed do eiusmod tempor incididunt ut labore et dolore magna
				aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
			<div class="row ab-info second pt-lg-4">
				<div class="col-lg-4 col-sm-6 ab-content text-center mt-lg-0 mt-4">
					<div class="ab-content-inner">
						<img src="images/t1.jpg" alt="news image" class="img-fluid">
						<div class="ab-info-con">
							<h4 class="text-team-w3">Petey Cruiser</h4>
							<ul class="list-unstyled team-socil-w3pvts">
								<li class="d-inline">
									<a href="#"><span class="fa fa-facebook"></span></a>
								</li>
								<li class="d-inline">
									<a href="#"><span class="fa fa-twitter"></span></a>
								</li>
								<li class="d-inline">
									<a href="#"><span class="fa fa-google-plus"></span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 ab-content text-center mt-lg-0 mt-4">
					<div class="ab-content-inner">
						<img src="images/t2.jpg" alt="news image" class="img-fluid">
						<div class="ab-info-con">
							<h4 class="text-team-w3">Mario Spe</h4>
							<ul class="list-unstyled team-socil-w3pvts">
								<li class="d-inline">
									<a href="#"><span class="fa fa-facebook"></span></a>
								</li>
								<li class="d-inline">
									<a href="#"><span class="fa fa-twitter"></span></a>
								</li>
								<li class="d-inline">
									<a href="#"><span class="fa fa-google-plus"></span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 ab-content text-center mt-lg-0 mt-4">
					<div class="ab-content-inner">
						<img src="images/t3.jpg" alt="news image" class="img-fluid">
						<div class="ab-info-con">
							<h4 class="text-team-w3">Turn Paige</h4>
							<ul class="list-unstyled team-socil-w3pvts">
								<li class="d-inline">
									<a href="#"><span class="fa fa-facebook"></span></a>
								</li>
								<li class="d-inline">
									<a href="#"><span class="fa fa-twitter"></span></a>
								</li>
								<li class="d-inline">
									<a href="#"><span class="fa fa-google-plus"></span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //team -->