<script> 
window.intergramId = "831681171";
window.intergramCustomizations = {
   titleClosed: 'Fale conosco',
   titleOpen: 'Atendimento online',
   introMessage: 'Bem vindo ao atendimento online da RMB Informática, digite sua mensagem que responderemos o mais breve possível.',
   autoResponse: 'Solicitação recebida, por favor aguarde a resposta...',
   autoNoResponse: 'Infelizmente nenhum operador está disponível no momento. Por gentileza informe seu e-mail e telefone para que possamos retornar o seu contato.'
};
</script>
<script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>
