<!DOCTYPE HTML>
<html lang="{{ page.lang | default: site.lang | default: "pt-br" }}">
  {%- include head.html -%}
  {%- include header.html -%}
  {% assign author = site.data.autores[page.autor] %}
  {%- assign date_format = site.minima.date_format | default: "%-d/%m/%Y %R" -%}
<!-- middle -->
	<section class="midd-w3 py-5" id="faq">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-6 about-right-faq">
					<h6>Notebook da Semana</h6>
					<h3 class="text-da">{{ page.modelo }}</h3>
					<p class="sub-author text-center">
						{%- if author.name -%}Escolhido por <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{%- if author.site -%} <a href="{{author.site}}" target="blank">{{ author.name }}</a></span></span> {%- else -%} {{ author.name }} {% endif %} em {{ page.date | date: date_format }} {% endif %}</p>
					<ul class="w3l-right-book mt-4">
						<p>Especificações técnicas:</p>
						<li>Processador: <b>{{ page.processor }}</b></li>
						<li>Memória: <b>{{ page.memory }}</b></li>
						<li>Disco: <b>{{ page.disk }}</b></li>
						<li>Sistema Operacional: <b>{{ page.operatingsystem }}</b></li>
						<li>Preço <b>R$ {{ page.price }}</b></li>
					</ul>
					<a href="{{ page.link }}" target="_blank" class="btn button-style button-style-2 mt-sm-5 mt-4">Ver oferta na loja {{ page.store }}</a>
					<p class="mt-4">{{ page.content }}</p>
				</div>
				<div class="col-lg-6 left-wthree-img text-right">
					<img src="{{ page.productimage }}" alt="" class="img-fluid mt-5" />
				</div>
			</div>
		</div>
	</section>
	<!-- //middle -->
   {%- include footer.html -%}
 
    </body>
 </html>