<!DOCTYPE HTML>
<html>
<html lang="{{ page.lang | default: site.lang | default: "pt-br" }}">

  {%- include head.html -%}
  {%- include header.html -%}
  {%- assign date_format = site.minima.date_format | default: "%-d/%m/%Y %R" -%}
  {%- if page.no_comments -%}
  {%- assign comentarios=false -%}
  {%- else -%}
  {%- assign comentarios=true -%}
  {%- endif -%}
  {% assign author = site.data.autores[page.autor] %}
  <div id="page">
		<div class="container pb-xl-5 pb-lg-3">
        {%- if page.img -%}
         <div class="text-center">
         <img src="{{ page.img }}" alt="" class="img-fluid" />
         </div>
         {%- endif -%} 
			<h3 class="title-w3 text-bl my-3 font-weight-bold text-capitalize text-center">{{ page.title }}</h3>
			<p class="sub-tittle text-center">
				{%- if author.name -%}Por&nbsp;{%- if author.site -%} <a href="{{author.site}}" target="blank">{{ author.name }}</a> {%- else -%} {{ author.name }} {% endif %} em {{ page.date | date: date_format }} {% else %} {{ page.description }} {% endif %}</p>
         <p class="text-bl">{{ content }}</p>
         <div class="text-center">
				{%- if page.btn_name -%}
				<a href="{{ page.btn_link }}" class="btn button-style mt-5">{{ page.btn_name }}</a>
				{%- endif -%}
				{%- if comentarios -%}
					{%- include fb-init.html -%}
					{%- include fb-comments.html -%}
				{%- endif -%}	
			</div>
		</div>
	</div>
	<div class="pb-5 pt-2" id="blog">
		<h2 class="title-w3 text-bl my-3 font-weight-bold text-capitalize text-center">Leia também</h2>
		<div class="container pb-xl-5 pb-lg-3 text-bl">
			{%- if site.posts.size > 0 -%}
			<ul class="style1">
				{%- for post in site.posts -%}
				<li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
				{%- endfor -%}
			</ul>
			{%- endif -%}							
		</div>
	</div>
	{%- include featured.inicial.html -%}
  {%- include footer.html -%}

	</body>
</html>